
.lista-doados{
    font-family: 'Archivo', sans-serif;
}

.lista-dados-container {
    padding: 1vw 0;
    width: 100%;
    color: #292828;
    background-color: #292828;
    background-image: url(../../assets/logo/ubuntu-logo-branco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1{
    color: #C3A400;
    padding: 0 5vw;
}
h2{
    padding: 0 5vw;
    color: #D9D9D9;
}

p{
    color: #D9D9D9;
}

b{
    font-size: 28px;
    color: #C3A400;
}

.container-doados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: initial;
    gap: 2vw;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 3vw 6vw 3vw;
    text-shadow: 1px 1px 1px black;
}

.categoria-doados{
    border-radius: 10px;
    padding: 0 5vw 5vw 5vw;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.categoria-doados div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

@media screen and (min-width: 768px) {
    .categoria-doados{
        width: 35%;
        padding: 5px 5px 5px 10px;
    }
}