.lista{
    padding: 1vw 5vw;
    font-family: 'Archivo', sans-serif;
    color: #1E1E1E;
    background-color: #D3D3D3;
}

h1{
    color: #C3A400;
}

b{
    font-size: 28px;
    color: #C3A400;
}

.categoria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}